
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Inter', sans-serif;
   background-color: #1A0B2E;
   color: white;
 }
 .bn {
   width: 100%;
   height: 760px;
   background: url("./assets/hero-bg.png");
   background-repeat: no-repeat;
   background-position: top center;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .container {
   max-width: 750px;
   width: 100%;
   height: 750px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 .container-circle {
   width: 550px;
   height: 550px;
   background: url("./assets/hero-circle.png");
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
 }
 .bn-txt {
   font-size: 60px;
   font-weight: bolder;
 }

 .bn-bt {
   display: flex;
   justify-content: center;
 }
 .b-m {
   background-color: #1A0B2E;
   padding: 10px 25px;
   border: 2px solid green;
   border-radius: 25px;
   color: green;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
 }
 .menu-btn {
   background: var(--gradient);
   padding: 10px 25px;
   border-radius: 25px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
 }

 .btn {
   background: var(--gradient);
   padding: 10px 25px;
   border-radius: 25px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

 }

 #logo-text {
   font-size: 40px;
   font-weight: bold;
   color: white;
   transition: 2s;
 }

 #logo-text:hover {
   font-size: 60px;
   font-weight: bolder;
 }

 #logo-gradiant {
   font-size: 40px;
   font-weight: bold;
   background: var(--gradient);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1.2rem 0;
 }

 .nav-link {
   display: flex;
   gap: 2.2rem;
   align-items: center;
 }

 .nav-link a {
   color: white;
   text-decoration: none;
 }